---
import Page from "../../layouts/Page.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<Page>
	<main>
		<section>
			<ul class="grid sm:grid-cols-2 gap-2 list-none m-0 p-0">
				{
					posts.map((post, i) => (
						<li>
							<a
								href={`/blog/${post.slug}/`}
								class="block h-full max-w-full p-6 bg-white border border-gray-200 rounded-lg shadow"
							>
								<img
									class="mb-2 h-[360] w-full"
									src={post.data.heroImage.src}
									alt=""
								/>
								<h5 class="mb-2 text-2xl font-bold text-gray-900">
									{post.data.title}
								</h5>
								<p class="font-normal text-gray-700">{post.data.description}</p>
								<p class="m-0 text-gray-600">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Page>
