---
import FormattedDate from "../components/FormattedDate.astro";
import { Picture } from "astro:assets";
import Page from "./Page.astro";
import { SITE_TITLE } from "../consts";

const { title, subtitle, description, published, updated, heroImage } =
  Astro.props;
---

<Page title={`${title} – ${SITE_TITLE}`}>
  <main>
    <article>
      {
        heroImage && (
          <div class="w-full">
            <Picture src={heroImage} alt="" class="block my-0 mx-auto" />
          </div>
        )
      }

      <h1 class="mb-4">{title}</h1>

      {
        subtitle && (
          <div class="text-xl">
            {subtitle}
          </div>
        )
      }

      <div class="mt-8 mb-10 text-sm text-stone-500">
        Published: <FormattedDate date={published} />
        {
          updated && (
            <span class="italic ml-2">
              (updated <FormattedDate date={updated} />)
            </span>
          )
        }
      </div>

      <slot />
    </article>
  </main>
</Page>
